BookOrderProcess/bpelContent/StudentService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://waa.a2.studentservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://waa.a2.studentservice">
    <wsdl:documentation>StudentService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://waa.a2.studentservice">
            <xs:element name="validateStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateStudentRequest">
        <wsdl:part name="parameters" element="ns:validateStudent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateStudentResponse">
        <wsdl:part name="parameters" element="ns:validateStudentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StudentServicePortType">
        <wsdl:operation name="validateStudent">
            <wsdl:input message="ns:validateStudentRequest" wsaw:Action="urn:validateStudent"></wsdl:input>
            <wsdl:output message="ns:validateStudentResponse" wsaw:Action="urn:validateStudentResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudentServiceBinding" type="ns:StudentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="validateStudent">
            <soap:operation soapAction="urn:validateStudent" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudentService">
        <wsdl:port name="StudentServicePort" binding="ns:StudentServiceBinding">
            <soap:address location="http://localhost:9763/services/StudentService.StudentServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>